body {
  margin: 50px;
}

#row {
  margin: 10px;
  width: 100%;
  height: 100px;
  font-size: 0;
  display: inline-flex;
  align-items: center;
}

#button {
  margin: 1%;
  width: 23%;
  height: 98%;
  display: inline-block;
  text-align: center;
}

p {
  position: relative;
  top: 37%;
  display: inline-flex;
  align-items: center;
  font-size: 14pt;
  margin: 0;
}


.one {
  background-color: #f46242;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}



.two {
  background-color: #f9931d;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}


@keyframes five {
  from {opacity: 1;}
  to {opacity: 0;}
  }

.five {
  background-color: #70b76e;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
  opacity: 100%;
}

.five.selected {
  animation-name: five;
  animation-duration: 5s;
  opacity: 0;
}



.six {
  background-color: #7bb4e5;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}

.six.selected {
  text-transform: uppercase;
}



.seven {
  background-color: #8c8acc;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: normal;
}

.seven.selected {
  font-weight: bold;
}



.eight {
  background-color: #dd4f60;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
  text-decoration: none;
}

.textChangeOne {
  text-decoration: none;
}

.textChangeOne.selected {
  text-decoration: underline;
}



.nine {
  background-color: #b6def9;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}

.textChangeTwo {
  color: black;
}

.textChangeTwo.selected {
  animation-name: ten;
  color: yellow;
}



.ten {
  background-color: #ce3514;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}

.ten.selected{
  width: 100%;
  height: 120%;
}


.eleven {
  background-color: #c0ccb1;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}

.eleven.selected {
  padding-left: 50%;
  padding-right: 50%;
}

.twelve {
  background-color: #a3b9ba;
  display: inline-block;
  width:60%;
  height:100%;
  padding-left: 20%;
  padding-right: 20%;
}

.textChangeThree {
  font-size: 14pt;
}

.textChangeThree.selected {
  font-size: 18pt;
}



.thirteen {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  box-sizing: border-box;
  border: 10px solid #dbadd2;
  border-radius: 100px;
}

.thirteen.selected {
  animation-name: thirteen;
  background-color: #dbadd2;
}


@keyframes fourteen {
  from {border: 10px solid #4aa59c;}
  to {border: 50px solid #4aa59c;}
}

.fourteen {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  box-sizing: border-box;
  border: 10px solid #4aa59c;
  border-radius: 100px;
}

.fourteen.selected {
  animation-name: fourteen;
  animation-duration: 1s;
  border: 50px solid #4aa59c;
}


@keyframes fifteen {
  from {opacity: 1; bottom: 0;}
  to {opacity: 0; bottom: 200px;}
}

.fifteen {
  background-color: #ba706f;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  position: relative;
}


.fifteen.selected {
  animation-name: fifteen;
  animation-duration: 1s;
  opacity: 0;
  bottom: 200px;
}

@keyframes sixteen {
  from {opacity: 1; width: 98px; height: 98px;}
  to {opacity: 0; width: 50px; height: 50px;}
  }

.sixteen {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  box-sizing: border-box;
  border: 10px solid #a3100e;
  border-radius: 100px;
  position: relative;
  }


.sixteen.selected {
  animation-name: sixteen;
  animation-duration: .25s;
  opacity: 0;
  width: 50px;
  height: 50px;
}




@keyframes seventeen {
  0% {position: relative; left:0px; right: 0px;}
  20% {position: relative; left:3px; right: 0px;}
  40% {position: relative; left:0px; right: 3px;}
  60% {position: relative; left:3px; right: 0px;}
  80% {position: relative; left:0px; right: 3px;}
  100% {position: relative; left:0px; right: 0px;}
  }

.seventeen {
  background-color: #3961a0;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  position: relative;
  }

.seventeen.selected {
  animation-name: seventeen;
  animation-duration: .15s;
}



@keyframes eighteen {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
  }

.eighteen {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  border: 10px dashed #3961a0;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
  transform: rotate(0deg);
  }

.eighteen.selected {
  animation-name: eighteen;
  animation-duration: 1s;
  transform: rotate(360deg);
}


@keyframes nineteen {
  0% {transform: rotate(0deg); position: relative; bottom: 0px; left: 0px;}
  100% {transform: rotate(360deg); position: relative; bottom: 800px; left: 800px;}
  }

.nineteen {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  border: 10px dashed #e84f47;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
  transform: rotate(0deg);
  }

.nineteen.selected {
  animation-name: nineteen;
  animation-duration: 2s;
  transform: rotate(360deg);
  position: relative;
  bottom: 800px;
  left: 800px;
}



@keyframes twenty {
  0% {border: 10px solid #4aa59c;}
  50% {border: 50px solid #4aa59c;}
  100% {border: 10px solid #4aa59c;}
}

.twenty {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  box-sizing: border-box;
  border: 10px solid #ddcb8d;
  border-radius: 100px;
}

.twenty.selected {
  animation-name: twenty;
  animation-duration: 1s;
  border: 10px solid #4aa59c;
}


.twentyone {
  background-color: #ffffff;
  display: inline-block;
  width:98px;
  height:98px;
  box-sizing: border-box;
  border: 10px solid #5b4543;
  border-radius: 100px;
}


.twentytwo {
  background-color: #d3d3d1;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
}



.twentythree {
  background-color: #d7f4e3;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  opacity: 1;
}

.twentythree.selected {
  animation-name: twenty;
  animation-duration: 1s;
  opacity: 1;

}


@keyframes twentyfour {
  0% {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

.twentyfour {
  background-color: #fff9aa;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  opacity: 1;
}

.twentyfour.selected {
  animation-name: twentyfour;
  animation-duration: .5s;
  opacity: 1;
}



.twentyfive {
  background-color: #a0f7e0;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  border: 5px solid;
  box-sizing: border-box;
}

.twentyfive.selected {
  border: 5px;
  border-style: dotted;
}

@keyframes twentysix {
  from {width: 98px; height: 98px;}
  to {width: 500%; height: 500%;}
}


.twentysix {
  background-color: #fc79ad;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
}

.twentysix.selected {
  animation-name: twentysix;
  animation-duration: 1s;
  margin: 0;
  width: 500%;
  height:500%;
  border-radius: 1200px;
}


@keyframes twentyseven {
  from {position: relative; right: 0px;}
  to {position: relative; right: 109%;}
}

.twentyseven {
  background-color: #a8dded;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  opacity: 1;
  position: relative;
}

.twentyseven.selected {
  animation-name: twentyseven;
  animation-duration: .5s;
  opacity: .5;
  position: relative;
  right: 109%;
}


.twentyeight {
  background-color: #f79c85;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  position: relative;
}


.twentynine {
  background-color: #ead05b;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  border: 10px outset;
  box-sizing: border-box;
  position: relative;
}

.twentynine.selected {
  border-style: inset;
}


.thirty {
  background-color: #8f9b69;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
}

.thirty.selected {
  border: 3px double;
}


.thirtyone {
  background-color: #dba0c1;
  display: inline-block;
  width:98px;
  height:98px;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  position: relative;
}

.thirtyone.selected {
  box-shadow: 0px 0px 0px #ffffff;
}


@keyframes thirtytwo {
   20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(-30px, 0, 0);}
   53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(-15px, 0, 0);}
   80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   90% {transform: translate3d(-4px, 0, 0);}
  }

.thirtytwo {
  background-color: #b51222;
  display: inline-block;
  width:98px;
  height:98px;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  position: relative;
}

.thirtytwo.selected {
  animation-name: thirtytwo;
  animation-duration: 1s;
  box-shadow: 0px 0px 0px #ffffff;
}



@keyframes thirtythree {
   20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(-30px,0,0);}
   53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(0,-200px,0);}
   80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   90% {transform: translate3d(-4px,0,0);}
  }

.thirtythree {
  background-color: #3e4da0;
  display: inline-block;
  width:98px;
  height:98px;
  box-shadow: 5px 5px 5px #888888;
  box-sizing: border-box;
  position: relative;
}

.thirtythree.selected {
  animation-name: thirtythree;
  animation-duration: 1s;
  box-shadow: 0px 0px 0px #ffffff;
}



@keyframes thirtyfour {
  0% {opacity: 1;}
   20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(-30px,0,0);}
   53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 1;}
   70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(0,-200px,0);}
   80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 0;}
   90% {transform: translate3d(-4px,0,0);}
   100% {opacity: 0;}
  }

.thirtyfour {
  background-color: #f7ea3b;
  display: inline-block;
  width:98px;
  height:98px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
}

.thirtyfour.selected {
  animation-name: thirtyfour;
  animation-duration: 1s;
  opacity: 0;
}


@keyframes thirtyfive {
  0% {opacity: 1;}
   20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(-30px,0,0);}
   53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 1;}
   70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(500px,0,0);}
   80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 0;}
   90% {transform: translate3d(-4px,0,0);}
   100% {opacity: 0;}
  }

.thirtyfive {
  background-color: #f78f3b;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
}

.thirtyfive.selected {
  animation-name: thirtyfive;
  animation-duration: 1s;
  opacity: 0;
}



@keyframes thirtysix {
  0% {background-color: #7b82fc; opacity: 1;}
   20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(-30px,0,0);}
   53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 1;}
   70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(500px,0,0);}
   80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 0;}
   90% {transform: translate3d(-4px,0,0);}
   100% {background-color: #7b82fc; opacity: 0;}
  }

.thirtysix {
  background-color: #bfc2ff;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
}

.thirtysix.selected {
  animation-name: thirtysix;
  animation-duration: 1s;
  opacity: 0;
}



@keyframes thirtyseven {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
   20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0);}
   40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(0,-50px,0);}
   53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 1;}
   70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   transform: translate3d(0,600px,0);}
   80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   transform: translate3d(0,0,0); opacity: 0;}
   90% {transform: translate3d(0,-1px,0);}
   100% {opacity: 0;}
  }

.thirtyseven {
  background-color: #b3a2bf;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
}

.thirtyseven.selected {
  animation-name: thirtyseven;
  animation-duration: 1s;
  opacity: 0;
}


@keyframes thirtyeight {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0); transform: rotate(0deg);}
  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -30px, 0); transform: rotate(360deg);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -15px, 0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  90% {transform: translate3d(0,-4px,0);}
}

.thirtyeight {
  background-color: #b8baae;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
}

.thirtyeight.selected {
  animation-name: thirtyeight;
  animation-duration: 1s;
  border: 3px double;
}

@keyframes thirtyeight {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0); transform: rotate(0deg);}
  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -30px, 0); transform: rotate(360deg);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -15px, 0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  90% {transform: translate3d(0,-4px,0);}
}

.thirtyeight {
  background-color: #b8baae;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
}

.thirtyeight.selected {
  animation-name: thirtyeight;
  animation-duration: 1s;
  border: 3px double;
}


@keyframes thirtyeight {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0); transform: rotate(0deg);}
  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -30px, 0); transform: rotate(360deg);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -15px, 0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  90% {transform: translate3d(0,-4px,0);}
}

.thirtyeight {
  background-color: #b8baae;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
}

.thirtyeight.selected {
  animation-name: thirtyeight;
  animation-duration: 1s;
  border: 3px double;
}



@keyframes thirtynine {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -30px, 0); transform: rotate(0deg);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0); transform: rotate(360deg);}
  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -15px, 0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);}
  90% {transform: translate3d(0,-4px,0);}
}

.thirtynine {
  background-color: #ddf466;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  box-sizing: border-box;
  position: relative;
}

.thirtynine.selected {
  animation-name: thirtynine;
  animation-duration: 1s;
}


@keyframes fourty {
  from {box-shadow: 0px 0px 0px #ffffff;}
  to {box-shadow: 5px 5px 5px #888888;}
}

.fourty {
  background-color: #2bb5b0;
  display: inline-block;
  width:98px;
  height:98px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #ffffff;
  box-sizing: border-box;
  position: relative;
}

.fourty.selected {
  animation-name: fourty;
  animation-duration: .5s;
  box-shadow: 5px 5px 5px #888888;
}
