html {
  height: 100%
}

body {
  width: 100%;
}


.row {
  float: left;
  width: 100%;
}

.square {
  float: left;
  width: 25%;
  height: 200px;
  cursor: pointer;
  border: none;
  background-color: #207c87;
}

.one {
  background-color: #6fb2ba;
}
